<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login | Zypher</title>
        <link rel="stylesheet" href="/assets/css/auth.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/" class="logo">Zypher</a>
                <div class="nav-buttons">
                    <button class="btn btn-theme-toggle">
                        <i class="fa-solid fa-sun"></i>
                    </button>
                </div>
            </nav>
        </header>

        <div class="auth-container">
            <div class="auth-form-container login-form-container">
                <form
                    class="auth-form"
                    id="login-form"
                    action="/logar"
                    method="POST"
                >
                    <h2>Logar</h2>
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        required
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Senha"
                        required
                    />
                    <button type="submit">Entrar</button>
                    <div class="switch-form">
                        <span>Não tem uma conta?</span>
                        <a href="#" id="goToRegister">Cadastrar</a>
                    </div>
                </form>
            </div>

            <div class="auth-form-container register-form-container">
                <form
                    class="auth-form"
                    id="signup-form"
                    action="/cadastro"
                    method="POST"
                >
                    <h2>Cadastrar</h2>
                    <input
                        type="text"
                        name="username"
                        placeholder="Usuário"
                        required
                    />
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        required
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Senha"
                        required
                    />
                    <button type="submit">Cadastrar</button>
                    <div class="switch-form">
                        <span>Já tem uma conta?</span>
                        <a href="#" id="goToLogin">Logar</a>
                    </div>
                </form>
            </div>
        </div>

        <script src="../scripts/auth.js"></script>
    </body>
</html>
