<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Início | Zypher</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/" class="logo">Zypher</a>
                <div class="nav-buttons">
                    <button id="irAuthL" class="btn btn-login">Logar</button>
                    <button id="irAuthR" class="btn btn-register">
                        Cadastrar
                    </button>
                </div>
            </nav>
        </header>
        <main>
            <section class="intro">
                <div class="intro-content">
                    <h1>Bem-vindo ao Zypher</h1>
                    <a href="#" class="cta">Em Breve...</a>
                </div>
                <div class="intro-image">
                    <img
                        src="../assets/img/hacker.png"
                        alt="Imagem de Hacker"
                    />
                </div>
            </section>
        </main>

        <script src="/scripts/script.js"></script>
    </body>
</html>
